.vs/
OfferingSolutions.UoWCore.SampleApp/bin/
OfferingSolutions.UoWCore/bin/
OfferingSolutions.UoWCore.SampleApp/obj/

/OfferingSolutions.GenericEFCore.SampleApp/bin/
/OfferingSolutions.GenericEFCore.SampleApp/obj
/OfferingSolutions.GenericEFCore/bin
/OfferingSolutions.GenericEFCore/obj
.vscode/launch.json
.vscode/tasks.json
/OfferingSolutions.GenericEFCore.Tests/bin
/OfferingSolutions.GenericEFCore.Tests/obj
